.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.content {
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 80%;
  max-width: 800px;
}

.instructions {
  text-align: left;
  border: 2px solid #007bff;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
}

.instructions ol {
  padding-left: 20px;
}

h1 {
  color: #007bff;
}

h2 {
  color: #17a2b8;
}

.base-button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.base-button:hover, .base-button.active {
  background-color: #0056b3;
}

.input-container {
  margin-top: 20px;
}

.input-container label {
  margin-right: 10px;
}

.input-container input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.convert-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.convert-button:hover {
  background-color: #218838;
}

.space-between-inputs {
  height: 20px; 
}

.convert-button-container {
  margin-top: 20px; 
}

.convert-button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.convert-button:hover {
  background-color: #218838; 
}


.input-container input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px; 
}
